.icon__arrow {
  //fill: #ff9b6d;
  fill: $second-font-color;
  fill-rule: evenodd;
  width: 20px;
  height: 16px;
}
.dark-icon {
  .icon__arrow {
    fill: $primary-font-color;
  }
}
.btn__prev {
  .icon__arrow {
    transform: rotate(180deg);
  }
}
.btn-direction {
  .icon__arrow {
    width: 40px;
    height: 32px;
  }
}

//social icons
.social-icons {
  ul {
    margin-left: -5px;
  }
  li {
    display: inline-block;
    a {
      @include addREM(padding, 5);
    }
  }
}