* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: $primary-font-color;
  background-color: $tile-color-secondary;
  font-size: 10px;
}
h1 {
  font-size: calc(4.5rem + 1vw);
  line-height: calc(5.2rem + 1vw);
  font-weight: 600;
}

h2 {
  font-size: calc(3rem + 1vw);
  font-weight: 400;
}
h3 {
  font-weight: 100;
  font-size: calc(2rem + 1vw);
  line-height: calc(2.6rem + 1vw);
}
.project__brief {
  h3 {
    @include addREM(margin-bottom, 30);
  }
}
h4 {
  font-weight: 100;
  font-size: calc(1.2rem + 1vw);
  line-height: calc(1.8rem + 1vw);
}
h5 {
  font-weight: 100;
  font-size: calc(1rem + 1vw);
  line-height: calc(1.6rem + 1vw);
}
p, li {
  font-weight: 100;
  font-size: calc(0.1rem + 1vw);
  line-height: calc(0.6rem + 1vw);
  @include addREM(margin-bottom, 10);
  &:last-child {
    margin-bottom: 0;
  }
}
.project__article {
  p {
    font-size: calc(0.3rem + 1vw);
    line-height: calc(1rem + 1vw);
  }
}
@media(max-width: 1050px) {
  .project__article {
    p {
      font-size: calc(0.8rem + 1vw);
      line-height: calc(1.2rem + 1vw);
    }
  }
}
a {
  text-decoration: none;
  color: $primary-font-color;
}
.contrast-bg, .contrast-bg--lighten {
  h1, h2, h3, h4, h5, h6, p, a, li {
    color: $second-font-color;
  }
}
@media(max-width: 1500px) {
  p, li {
    font-size: calc(0.2rem + 1vw);
    line-height: calc(0.7rem + 1vw);
  }
}
@media(max-width: 1200px) {
  p, li {
    font-size: calc(0.3rem + 1vw);
    line-height: calc(0.8rem + 1vw);
  }
}
@media(max-width: 767px) {
  p, li {
    font-size: calc(0.2rem + 3vw);
    line-height: calc(0.7rem + 3vw);
  }
  .project__article {
    p {
      font-size: calc(0.2rem + 3vw);
      line-height: calc(0.7rem + 3vw);
    }
  }
}
@media(max-width: 450px) {
  p, li {
    font-size: calc(0.2rem + 4vw);
    line-height: calc(0.7rem + 4vw);
  }
  .project__article {
    p {
      font-size: calc(0.2rem + 4vw);
      line-height: calc(0.7rem + 4vw);
    }
  }
}