@mixin font-size($sizeValue: 14, $lineHeight: null) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
  @if ($lineHeight) {
    line-height: $lineHeight + px;
    line-height: ($lineHeight / 10) + rem;
  } @else {
    line-height: ($sizeValue * 1.2) + px;
    line-height: ( ($sizeValue / 10) * 1.2 ) + rem;
  }
}
/*Padding and Margin for REM with PX fallback*/
@mixin addREM($property, $values...) {
  $px : ();
  $rem: ();
  @each $value in $values {
    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }
    @else {
      $px : append($px,  ($value + px));
      $rem: append($rem, ($value / 10 + rem));
    }
  }
  #{$property}: $px;
  #{$property}: $rem;
}