html {
  font-size: 100%; }

body {
  font-size: 62.5%;
  font-family: "Roboto Condensed", arial, sans-serif; }

/*Padding and Margin for REM with PX fallback*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, picture {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.primary-color {
  color: #6a6969; }

.secondary-color {
  color: #fff; }

.primary-bg {
  background-color: #ebb240; }

.flex {
  display: flex; }

.center {
  align-items: center;
  justify-content: center; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #6a6969;
  background-color: #dfe0d9;
  font-size: 1rem; }

h1 {
  font-size: calc(4.5rem + 1vw);
  line-height: calc(5.2rem + 1vw);
  font-weight: 600; }

h2 {
  font-size: calc(3rem + 1vw);
  font-weight: 400; }

h3 {
  font-weight: 100;
  font-size: calc(2rem + 1vw);
  line-height: calc(2.6rem + 1vw); }

p {
  font-weight: 100;
  font-size: calc(0.1rem + 1vw);
  line-height: calc(0.6rem + 1vw); }

a {
  text-decoration: none;
  color: #6a6969; }

.icon__arrow {
  fill: #fff;
  fill-rule: evenodd; }

header {
  background-size: cover; }

.header__banner {
  background-color: #242943;
  display: flex;
  padding: 40px;
  padding: 4rem;
  min-height: 100%; }

.header__sidebar {
  background-color: #363d64;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%; }

nav.sitewide {
  position: fixed;
  border-width: 0px;
  border-style: solid;
  border-color: #ebb240;
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  z-index: 999;
  font-weight: 300; }
  nav.sitewide ul {
    position: fixed;
    top: -80px;
    width: 100%;
    transition: 0.5s all;
    text-align: center;
    left: 0; }
  nav.sitewide li {
    display: inline-block; }
    nav.sitewide li a {
      text-decoration: none;
      padding: 0 20px;
      padding: 0 2rem;
      display: inline-block;
      font-size: calc(10px + 1vw);
      line-height: 80px;
      color: #fff; }
  nav.sitewide.nav-open {
    transition: border-width 0.3s, background-color 0.3s;
    height: 100%;
    border-width: 80px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.3); }
    nav.sitewide.nav-open ul {
      top: 0px; }

@media (max-width: 767px) {
  nav.sitewide li a {
    padding: 20px 10px;
    padding: 2rem 1rem; } }
.hamburger {
  padding: 18px;
  padding: 1.8rem;
  width: 96px;
  height: 62px;
  position: fixed;
  top: 0;
  right: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1; }
  .hamburger.scrolled {
    background-color: rgba(0, 0, 0, 0.5); }
  .hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 60px;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 18px;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    .hamburger span:nth-child(1) {
      top: 18px; }
    .hamburger span:nth-child(2), .hamburger span:nth-child(3) {
      top: 29px; }
    .hamburger span:nth-child(4) {
      top: 40px; }

.nav-open .hamburger {
  background-color: transparent; }
  .nav-open .hamburger span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .nav-open .hamburger span:nth-child(2) {
    transform: rotate(45deg); }
  .nav-open .hamburger span:nth-child(3) {
    transform: rotate(-45deg); }
  .nav-open .hamburger span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }

.project__info {
  z-index: 3;
  position: relative; }

.project__title {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  color: #fff; }

.project__headline {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  color: #fff;
  max-width: 75%; }

.project__button {
  cursor: pointer;
  color: #fff; }

.project__icon {
  margin-right: 5px;
  margin-right: 0.5rem;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block; }

.tiles article {
  display: flex;
  padding: 40px;
  padding: 4rem; }

.tiles__header {
  background-color: #ebb240;
  display: flex;
  padding: 40px;
  padding: 4rem;
  text-transform: uppercase; }

.tiles__footer {
  background-color: #ebb240;
  display: flex;
  align-items: center;
  justify-content: center; }

@media (max-width: 767px) {
  .tiles__header {
    justify-content: flex-start; } }
.tiles__item {
  padding: 20px;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .tiles__item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;
    transition: 0.4s opacity; }
  .tiles__item:hover:before {
    opacity: 0; }

.tile-0 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2; }

.tile-1 {
  grid-column: 4 / span 3;
  grid-row: 1 / span 2;
  background-color: #fff; }
  .tile-1:before {
    background-color: rgba(236, 141, 129, 0.85); }

.tile-2 {
  grid-column: 7 / span 3;
  grid-row: 1 / span 1;
  background-color: #dfe0d9; }
  .tile-2:before {
    background-color: rgba(231, 183, 136, 0.85); }

.tile-3 {
  grid-column: 7 / span 3;
  grid-row: 2 / span 2;
  background-color: #f7f7f3; }
  .tile-3:before {
    background-color: rgba(122, 206, 195, 0.85); }

.tile-4 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  background-color: #eaeaea; }
  .tile-4:before {
    background-color: rgba(141, 130, 196, 0.85); }

.tile-5 {
  grid-column: 3 / span 4;
  grid-row: 3 / span 2;
  background-color: #cecece; }
  .tile-5:before {
    background-color: rgba(231, 183, 136, 0.85); }

.tile-6 {
  grid-column: 7 / span 3;
  grid-row: 4 / span 1;
  background-color: #fff; }
  .tile-6:before {
    background-color: rgba(142, 169, 232, 0.85); }

.tile-7 {
  grid-column: 1 / span 4;
  grid-row: 5 / span 2;
  background-color: #dfe0d9; }
  .tile-7:before {
    background-color: rgba(111, 195, 223, 0.85); }

.tile-8 {
  grid-column: 5 / span 2;
  grid-row: 5 / span 2;
  background-color: #fff; }
  .tile-8:before {
    background-color: rgba(135, 197, 164, 0.85); }

.tile-9 {
  grid-column: 7 / span 3;
  grid-row: 5 / span 2; }

@media (max-width: 1050px) {
  .tile-1 {
    grid-column: 7 / span 3;
    grid-row: 1 / span 2; }

  .tile-2 {
    grid-column: 4 / span 3;
    grid-row: 1 / span 2; }

  .tile-3 {
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
    background-color: #f7f7f3; }

  .tile-4 {
    grid-column: 4 / span 3;
    grid-row: 3 / span 2;
    background-color: #eaeaea; }

  .tile-5 {
    grid-column: 7 / span 3;
    grid-row: 3 / span 2;
    background-color: #cecece; }

  .tile-6 {
    grid-column: 1 / span 3;
    grid-row: 5 / span 2;
    background-color: #fff; }

  .tile-7 {
    grid-column: 4 / span 3;
    grid-row: 5 / span 2;
    background-color: #dfe0d9; }

  .tile-8 {
    grid-column: 7 / span 3;
    grid-row: 5 / span 2;
    background-color: #fff; }

  .tile-9 {
    grid-column: 1 / span 9;
    grid-row: 7 / span 2; } }
@media (max-width: 767px) {
  .tiles__header {
    grid-column: 1;
    grid-row: auto; }

  .tiles__item {
    grid-column: 1;
    grid-row: auto; }

  .tiles__footer {
    grid-column: 1;
    grid-row: auto; } }
.loader {
  position: fixed;
  z-index: 9999;
  background-color: #7acec3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.coffee_cup {
  position: absolute;
  top: 50%;
  margin-left: -10px;
  width: 20px;
  height: 24px;
  border: 1px white solid;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  margin: 36px auto; }

.coffee_cup:after, .coffee_cup:before {
  position: absolute;
  content: ""; }

.coffee_cup:after {
  width: 5px;
  height: 12px;
  border: 1px #fff solid;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  left: 20px; }

.coffee_cup:before {
  width: 1px;
  height: 6px;
  background-color: white;
  top: -10px;
  left: 4px;
  box-shadow: 5px 0px 0px 0px white, 5px -5px 0px 0px white, 10px 0px 0px 0px white;
  -webkit-animation: steam 1s linear infinite alternate;
  -moz-animation: steam 1s linear infinite alternate;
  animation: steam 1s linear infinite alternate; }

@-webkit-keyframes steam {
  0% {
    height: 0px; }
  100% {
    height: 6px; } }
@-moz-keyframes steam {
  0% {
    height: 0px; }
  100% {
    height: 6px; } }
@keyframes steam {
  0% {
    height: 0px; }
  100% {
    height: 6px; } }
.loading-circles {
  position: absolute;
  width: 42px;
  height: 15px; }

.circle {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 5px;
  position: absolute;
  left: -25px;
  bottom: 0; }
  .circle:nth-child(1) {
    left: -25px; }
  .circle:nth-child(2) {
    left: 0px; }
  .circle:nth-child(3) {
    left: 25px; }
  .circle:nth-child(1) {
    animation: circle 1.6s infinite;
    animation-delay: 0.1s; }
  .circle:nth-child(2) {
    animation: circle 1.6s infinite;
    animation-delay: 0.2s; }
  .circle:nth-child(3) {
    animation: circle 1.6s infinite;
    animation-delay: 0.3s; }

@keyframes circle {
  0% {
    transform: scale(1) translateY(0px);
    height: 14px; }
  20% {
    transform: scale(1) translateY(0px);
    height: 10px; }
  40% {
    transform: scale(1.1) translateY(-15px);
    height: 14px; }
  70% {
    transform: scale(1) translateY(0px); } }
.layout__item {
  display: grid; }

.layout__item--basic {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 0;
  min-height: 50vh; }
  .layout__item--basic .layout__desktop-third {
    grid-column: 3 / span 1;
    display: flex;
    padding: 40px;
    padding: 4rem;
    text-transform: uppercase; }
  .layout__item--basic .layout__desktop-two-thirds {
    grid-column: 1 / span 2; }
  .layout__item--basic.reverse .layout__desktop-third {
    grid-column: 1 / span 1; }
  .layout__item--basic.reverse .layout__desktop-two-thirds {
    grid-column: 2 / span 2; }

.layout__item--complex {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, minmax(25vh, auto)); }

@media (max-width: 1400px) {
  .layout__item--complex {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 25vh); } }
@media (max-width: 1050px) {
  .layout__item--complex {
    grid-template-rows: repeat(7, minmax(10vh, 20vh)); } }
@media (max-width: 1050px) and (min-height: 800px) {
  .layout__item--complex {
    grid-template-rows: repeat(5, minmax(10vh, auto)); } }
@media (max-width: 767px) {
  .layout__item--basic {
    grid-template-columns: 1fr;
    grid-gap: 0;
    min-height: 95vh; }

  .layout__item--complex {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }

  .layout__desktop-third, .layout__desktop-two-thirds {
    grid-column: 1;
    grid-row: auto; } }

/*# sourceMappingURL=main.css.map */
